.footer{
    width: 100%;
    height: 90px;
    align-items: center;
    position: fixed;
    bottom: 0px;
    color:rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(245, 245, 245);
  }
  .link__icons {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.icon-github {
    width: 60px;
    height: 60px;
}
.icon-linkedin{
    width: 60px;
    height: 60px;
}