.home-container{
    background-image: url('https://i.pinimg.com/originals/15/71/05/15710504898649f93190a5626de1a74c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 100px;
  }
  .home-inner-container{
    /* margin-top: 2%; */
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(253, 253, 253);
    border-radius: 15px;
    backdrop-filter: blur(3px);
  }

  .portfolio-container{
    align-items: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }


  /* .portfolio {
    background-size: contain;
    padding: 20px;
    color: white;
} */