.home-container{
    background-image: url('https://videohive.img.customer.envatousercontent.com/files/ab774cfd-7e65-4933-a6bc-71cd9234c188/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=3a384acbed77bc13bc6c8b2ac5990c47');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
  }
  .home-inner-container{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    border-style: solid;
    border-width: 2px;
    border-color:black;
    border-radius: 15px;
  }
  /* .portfolio {
    background-size: contain;
    padding: 20px;
    color: white;
} */