img{
    width: 200px;
    height: auto;
}

.project{
    flex-direction: column;
    align-items: center;
    flex-flow: row wrap;
    float: left;
    border: rgb(247, 245, 245);
    border-width: 5px;
    border-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    /* background-color: rgb(156, 153, 153);
    opacity: .4 */
 
}