.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aboutCard{
  height: 400 px;
  width: 40%;
  border: black;
  border-width: 5px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-flow: row wrap;
  float: left;
  /* align-content: center; */
  justify-content: space-around;
}

.about-container{
  align-items: center;
  padding-top: 50px;
  padding-left:50px;
}

.navbar{
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0px;
  background-color: teal;
}
.footer{
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0px;
  background-color: rgb(129, 72, 151);
}

.home-container{
  margin-top: 0px;
  background-image: url('https://videohive.img.customer.envatousercontent.com/files/ab774cfd-7e65-4933-a6bc-71cd9234c188/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=3a384acbed77bc13bc6c8b2ac5990c47');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.home-inner-container{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  border-style: solid;
  border-width: 2px;
  border-color:black;
  border-radius: 15px;
}